[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:erancihan/dotfiles.git
[submodule "tmux-wsl-info"]
	path = tmux-wsl-info
	url = git@github.com:erancihan/tmux-wsl-info.git
[submodule "projects/image-deduplicate"]
	path = projects/image-deduplicate
	url = git@github.com:erancihan/image-deduplicate.git
